<html ng-app="myApp">
<head>

  <title>Inserir Portfólio</title>
  <meta charset="utf-8"/>

  <script src="Cadastro.port.javascript.js"></script>

  

  <script src="Cadastro.port.javascript.js"> </script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="Cadastro.port.css">
  
</head>

<body  ng-controller="myCtrl">


  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">Portfólio</h1>
    </div>


    <div class="panel-body">

      <fomr>

        <div class="row">

          <div class="col-md-12">
            <h2>Dados do Portfólio</h2>
          </div>

          <div class="form-group col-md-4">
            <input type="text" class="form-control" placeholder="Nome do Projeto" ng-model="projeto.nome"/>
          </div>

          <div class="form-group col-md-4">
            <input type="text" class="form-control" placeholder="Descrição" ng-model="texto"/>
          </div>

          <div class="form-group col-md-4">
            <input type="" class="form-control" placeholder="" ng-model=""/>
          </div>

    </div>


    <div class="row">

      <div class="form-group col-md-1">
        <button type="button" class="btn btn-success form-control" ng-click=salvar()>Salvar</button>
      </div>

      <div class="form-group col-md-1">
        <button type="button" class="btn btn-warning form-control" ng-click=limpar()>Limpar</button>
      </div>

      <div class="form-group col-md-1">
        <button type="button" class="btn btn-danger form-control" href="home.html">Cancelar</button>
      </div>


    </div>

  </div>
</body>

</html>
